.container
  %a.breadcrumb= link_to 'Home', root_path, class: 'teal-text'
  %a.breadcrumb= link_to 'Serials', serials_path, class: 'teal-text'
  %a.breadcrumb= link_to "#{@serial.name}", serial_episode_path(@serial, @serial.episodes.first), class: 'teal-text'

  .center
    = render 'episode'

    %br
    %br
    %br
    = link_to 'Leave a comment', "javascript:;", id: "reviews-link", :remote => true, class: 'btn purple-text waves-effect chip white waves-grey'
    #leave_review
      #review_form
        = render "reviews/form", movie: @serial, review: @review
      %ul
        #reviews_section
          - @serial.reviews.reverse.each do |review|
            %li= review.text
            %li.divider
