= video_tag @episode.video, :size => "500x300", :controls => true
%br
- @episodes.each do |episode|
  = link_to "#{episode.episode_number}", serial_episode_path(@serial, episode), class: "btn"
%br
= render "reviews/form"
- @episode.reviews.each do |review|
  = review.text
