!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %title Serials
    = csrf_meta_tags
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload'
    = javascript_include_tag 'application', 'data-turbolinks-track': 'reload'
  .ilike-dark-container
    %body
      %nav
        .container
          .nav-wrapper
            %a.brand-logo= link_to 'FMOVIES', root_path
            %ul#nav-mobile.right.hide-on-med-and-down
              
      .center.red-text
        - flash.each do |name, msg|
          = content_tag(:div, msg, class: "alert")
      = yield
